<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

    <form name="form1" id="form1" action="" method="post">
        {% csrf_token %}
        <h1 id="o1">Organization Data</h1>
        Organization: <select name="Organization" id="subject" required>
            <option value="" selected="selected" >Select Organization</option>
        </select>
        <br><br>

        Company: <select name="Company" id="chapter">
            <option value="" selected="selected">Please select Organization first</option>
        </select>
        <br><br>
        <label for="name">Employee</label>
        <input type="text" id="name" name="name" required></input>
        <br><br>

        <label for="eid">Employee Id: EMP-</label>
        <input type="number" id="eid" name="eid" maxlength="4" required></input>
        <br><br>

        <input type="submit" value="Submit">
    </form>
    <script src="/static/app.js"></script>

</body>

</html>